h1 {
  text-align: center;
}

.todoListClass {
  background-color: rgb(241 241 241);
  width: 80%;
  border: none;
  flex: 80%;
}

.addTodoClass {
  border: 0px;
  background-color: aquamarine;
}

.editClass {
  background-color: rgb(99, 255, 47);
  flex: 5%;
}

.deleteClass {
  background-color: red;
  flex: 0%;
}

.listClass {
  display: flex;
}

.checkClass {
  background-color: rgb(241 241 241);
  width: max-content;
}
